<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoClick_by_Pyanthar_mdr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoClick_by_Pyanthar_mdr.Properties.Settings>
            <setting name="P1_name" serializeAs="String">
                <value>Profil 1</value>
            </setting>
            <setting name="P2_name" serializeAs="String">
                <value>Profil 2</value>
            </setting>
            <setting name="P3_name" serializeAs="String">
                <value>Profil 3</value>
            </setting>
            <setting name="P4_name" serializeAs="String">
                <value>Profil 4</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="P1_temp" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="P1_var" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="P2_temp" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="P2_var" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="P3_temp" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="P3_var" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="P4_temp" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="P4_var" serializeAs="String">
                <value>20</value>
            </setting>
        </AutoClick_by_Pyanthar_mdr.Properties.Settings>
    </userSettings>
</configuration>